<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.robot.dao.CarSourceMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, type, start_time,to,from,mobile,enabled,create_date,basic_data,remark
	</sql>

	<!--返回MAP -->
	<resultMap id="BaseResultMap" type="com.xxl.robot.entity.CarSource">
	<result column="id" property="id"/>
	<result column="type" property="type"/>
	<result column="start_time" property="startTime"/>
	<result column="to" property="to"/>
	<result column="from" property="from"/>
	<result column="mobile" property="mobile"/>
	<result column="enabled" property="enabled"/>
	<result column="create_date" property="createDate"/>
	<result column="basic_data" property="basicData"/>
	<result column="remark" property="remark"/>
	</resultMap>

</mapper>
