<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.robot.dao.CarWechartMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, session_time, content,enabled
	</sql>

	<!--返回MAP -->
	<resultMap id="BaseResultMap" type="com.xxl.robot.entity.CarWechart">
		<result column="id" property="id" />
		<result column="session_time" property="sessionTime" />
		<result column="content" property="content" />
		<result column="enabled" property="enabled" />
	</resultMap>



	<insert id="insertBatch" parameterType="java.util.List">
		insert into car_wechart(session_time, content,enabled)
		values
		<foreach collection="carWecharts" item="item" index="index" separator=",">
			(now(), #{item.content},#{item.enabled})
		</foreach>
	</insert>


	<!-- 批量更新 -->
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="carWecharts" item="item" index="index" open="" close="" separator=";">
			update car_wechart
			<set>
				<if test="item.enabled !=null">
					enabled = #{item.enabled},
				</if>
			</set>
			where id = #{item.id}
		</foreach>
	</update>



</mapper>
