<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.robot.dao.PhoneCodeMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, robot_code,app_code,app_event, position_x, position_y, position_x1,position_y1
	</sql>

	<!--返回MAP -->
	<resultMap id="BaseResultMap" type="com.xxl.robot.entity.PhoneCode">
	<result column="id" property="id"/>
	<result column="robot_code" property="robotCode"/>
	<result column="app_code" property="appCode"/>
	<result column="app_event" property="appEvent"/>
	<result column="position_x" property="positionX"/>
	<result column="position_y" property="positionY"/>
	<result column="position_x1" property="positionX1"/>
	<result column="position_y1" property="positionY1"/>

 	</resultMap>


</mapper>
