<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.robot.dao.RobotQqMapper">

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, source_type, content,ips,enabled,remark,create_date,update_date,tenant_code
	</sql>

	<!--返回MAP -->
	<resultMap id="BaseResultMap" type="com.xxl.robot.entity.RobotQq">
		<result column="id" property="id" />
		<result column="source_type" property="sourceType" />
		<result column="content" property="content" />
		<result column="ips" property="ips" />
		<result column="enabled" property="enabled" />
		<result column="remark" property="remark" />
		<result column="create_date" property="createDate" />
		<result column="update_date" property="updateDate" />
		<result column="tenant_code" property="tenantCode"/>
	</resultMap>

	
	
</mapper>
